node_modules
npm-debug.log
skaffold.yaml
bin
*.swp
/.config
kubeconfig*
Dockerfile
.dockerignore
.git
.gitignore
.gitattributes
README.md
.npmrc
.prettierrc
.eslintrc.cjs
.graphqlrc
.editorconfig
.vscode
dist
package
/.frpc-be.ini
/converage
/docker-compose*
/Makefile
/.lighthouse
/.github
/charts
/preview
/hack
**/.env
